@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300&display=swap');

body{
    margin: 0;
}

header{
    background: #000000;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 55px;
    z-index: 2;
}
header>nav{
    position: absolute;
    right: 25px;
    top: 0;
}
header>nav>ul{
    margin: 0;
}
header>nav>ul>li{
    display: inline-block;
    padding: 10px;
    color: #FFFFFF;
    font-family: 'Cantarell', sans-serif;
    list-style: none;
}
main{
    position: relative;
    top: 0;
}
/*-------------section 1-------------*/
main>section:first-child{
    background: #000000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}
main>section:first-child>img{
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
main>section:first-child>div{
    width: 800px;
    height: 400px;
    background: #000000;
    position: absolute;
    top: 200px;
    left: 520px;
    text-align: center;
    align-content: center;
}
main>section:first-child>div>h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 28px;
}
main>section:first-child>div>h3{
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
main>section:first-child>div>section{
    width: 330px;
    height: 30px;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(142, 0, 0, 0);
}
main>section:first-child>div>section>div:nth-child(1){
    background: black;
}
main>section:first-child>div>section>div:nth-child(1)>img{
    height: 30px;
}
main>section:first-child>div>section>div:nth-child(2){
    background: black;
}
main>section:first-child>div>section>div:nth-child(2)>img{
    height: 30px;
}
main>section:first-child>div>section>div:nth-child(3){
    background: black;
}
main>section:first-child>div>section>div:nth-child(3)>img{
    height: 30px;
}
main>section:first-child>div>section>div:nth-child(4){
    background: black;
}
main>section:first-child>div>section>div:nth-child(4)>img{
    height: 30px;
}
main>section:first-child>div>section>div:nth-child(5){
    background: black;
}
main>section:first-child>div>section>div:nth-child(5)>img{
    height: 30px;
}
main>section:first-child>div>section>div:nth-child(6){
    background: black;
}
main>section:first-child>div>section>div:nth-child(6)>img{
    height: 30px;
}
main>section:first-child>div>button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 20px;
    color: #ffffff;
    background: #079992;
    border: #079992;
    width: 167px;
    height: 35px;
    position: absolute;
    top: 242px;
    right: 0;
    left: 0;
    margin: auto;
}


/*-------------section 2-------------*/
main>section:nth-child(2){
    background: #11141B;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}
main>section:nth-child(2)>div{
    background: #079992;
    width: 463px;
    height: 55px;
    position: absolute;
    top: 22px;
    right: 0;
    margin: auto;
}
main>section:nth-child(2)>div>h2:first-child{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin-top: -5px;
    margin-bottom: 10px;
    margin-left: 98px;
    font-size: 3.4em;
}
main>section:nth-child(2)>div>h2:nth-child(2){
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.8em;
    margin-top: -56px;
    margin-bottom: 10px;
    margin-left: 322px;
}
main>section:nth-child(2)>span{
    border-top: 45px solid #11141B;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    top: 27px;
    right: 415px;
    margin: auto;
    transform: rotate(270deg);
}
#s2_s1{
    width: 180px;
    height: 495px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 2px;
    position: absolute;
    left: 89px;
    top: 77px;
    background: transparent;
}
#s2_s1_d1_img{
    height: 240px;
}
#s2_s1_d2_img{
    height: 240px;
}
#s2_s2{
    width: 180px;
    height: 495px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 2px;
    position: absolute;
    left: 277px;
    bottom: 77px;
    background: transparent;
}
#s2_s2_d1_img{
    width: 180px;
    height: 240px;
}
#s2_s2_d2_img{
    height: 240px;
}
#s2_s3{
    position: absolute;
    top: 111px;
    right: 88px;
    margin: auto;
    background: rgba(142, 0, 0, 0);
    text-align: right;
}
#s2_s3_p1{
    color: #ffffff;
    font-family: 'Encode Sans', sans-serif;
    font-size: 1.4em;
}
#s2_s3_s1{
    position: absolute;
    width: 280px;
    height: 30px;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    top: 263px;
    right: 0;
    margin: auto;
    background: rgba(142, 0, 0, 0);
}
#s2_s3_s1_d1_img{
    height: 30px;
}
#s2_s3_s1_d2_img{
    height: 30px;
}
#s2_s3_s1_d3_img{
    height: 30px;
}
#s2_s3_s1_d4_img{
    height: 30px;
}
#s2_s3_s1_d5_img{
    height: 30px;
}
#s2_s3_s1_d6_img{
    height: 30px;
}
#s2_s4{
    position: absolute;
    top: 335px;
    left: 505px;
    margin: auto;
}
#s2_s4_h3_1{
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
}
#s2_s4_h3_2{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.2em;
    margin-bottom: 28px;
    margin-top: 5px;
}
#s2_s4_h3_3{
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
}
#s2_s4_h3_4{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.2em;
    margin-bottom: 28px;
    margin-top: 5px;
}
#s2_s4_h3_5{
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
}
#s2_s4_h3_6{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.2em;
    margin-bottom: 28px;
    margin-top: 5px;
}
#s2_s4_h3_7{
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
}
#s2_s4_h3_8{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.2em;
    margin-bottom: 28px;
    margin-top: 5px;
}
#s2_s4_h3_9{
    font-weight: 1;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    margin: 0;
}
#s2_s4_h3_10{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.2em;
    margin-bottom: 28px;
    margin-top: 5px;
}
#s2_btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    border-radius: 20px;
    color: #ffffff;
    background: #079992;
    width: 167px;
    height: 35px;
    position: absolute;
    top: 670px;
    right: 88px;
    margin: auto;
    border: #11141B;
}


/*-------------section 3-------------*/
main>section:nth-child(3){
    background: #000000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}
main>section:nth-child(3)>div{
    background: #079992;
    width: 785px;
    height: 55px;
    position: absolute;
    top: 22px;
    left: 0;
    margin: auto;
}
main>section:nth-child(3)>div>h2:first-child{
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.8em;
    position: absolute;
    left: 125px;
    top: 15px;
    margin: auto;
}
main>section:nth-child(3)>div>h2:nth-child(2){
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.4em;
    position: absolute;
    left: 330px;
    top: -5px;
    margin: auto;
}
main>section:nth-child(3)>span{
    border-top: 45px solid #000000;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    top: 27px;
    left: 736px;
    margin: auto;
    transform: rotate(90deg);
}
#s3_d2{
    position: absolute;
    background: #ffffff;
    height: 2px;
    width: 1259px;
    top: 409px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d3{
    background: rgba(75, 0, 130, 0);
    position: absolute;
    height: 300px;
    width: 250px;
    top: 351px;
    right: -836px;
    margin: auto;
    align-content: center;
    text-align: center;
}
#s3_d3_btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 20px;
    color: #000000;
    background: #079992;
    width: 130px;
    height: 32px;
    position: absolute;
    top: 9px;
    right: 0;
    left: 0;
    margin: auto;
    border: #079992;
}
#s3_d3_d1{
    position: absolute;
    height: 76px;
    width: 2.5px;
    background: #ffffff;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d3_d2{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #079992;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d3_d3_h3_1{
    position: absolute;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.4em;
    color: #606060;
    top: 140px;
    margin: auto;
    right: 0;
    left: 0;
}
#s3_d3_d3>img{
    position: absolute;
    height: 60px;
    top: 176px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d3_d3_h3_2{
    position: absolute;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    color: #ffffff;
    top: 246px;
    margin: auto;
    right: 0;
    left: 0;
}

#s3_d4{
    background: rgba(255, 0, 0, 0);
    position: absolute;
    height: 300px;
    width: 500px;
    top: 351px;
    left: 366px;
    margin: auto;
    align-content: center;
    text-align: center;
}
#s3_d4_btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 20px;
    color: #000000;
    background: #079992;
    width: 130px;
    height: 32px;
    position: absolute;
    top: 9px;
    right: 0;
    left: 0;
    margin: auto;
    border: #079992;
}
#s3_d4_d1{
    position: absolute;
    height: 76px;
    width: 2.5px;
    background: #ffffff;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d4_d2{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #079992;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d4_d3_h3_1{
    position: absolute;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.4em;
    color: #606060;
    top: 140px;
    margin: auto;
    right: 0;
    left: 0;
}
#s3_d4_d3>img{
    position: absolute;
    height: 60px;
    top: 176px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d4_d3_h3_2{
    position: absolute;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    color: #ffffff;
    top: 246px;
    margin: auto;
    right: 0;
    left: 0;
}

#s3_d5{
    background: rgba(255, 255, 255, 0.01);
    position: absolute;
    height: 300px;
    width: 400px;
    top: 170px;
    left: 695px;
    margin: auto;
    align-content: center;
    text-align: center;
}
#s3_d5_btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 20px;
    color: #000000;
    background: #079992;
    width: 130px;
    height: 32px;
    position: absolute;
    bottom: 9px;
    right: 0;
    left: 0;
    margin: auto;
    border: #079992;
}
#s3_d5_d1{
    position: absolute;
    height: 76px;
    width: 2.5px;
    background: #ffffff;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d5_d2{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #079992;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d5_d3_h3_1{
    position: absolute;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.4em;
    color: #606060;
    bottom: 275px;
    margin: auto;
    right: 0;
    left: 0;
}
#s3_d5_d3>img{
    position: absolute;
    height: 73px;
    bottom: 198px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d5_d3_h3_2{
    position: absolute;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    color: #ffffff;
    bottom: 140px;
    margin: auto;
    right: 0;
    left: 0;
}

#s3_d6{
    background: rgba(255, 255, 255, 0.01);
    position: absolute;
    height: 300px;
    width: 500px;
    top: 170px;
    left: 83px;
    margin: auto;
    align-content: center;
    text-align: center;
}
#s3_d6_btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border-radius: 20px;
    color: #000000;
    background: #079992;
    width: 130px;
    height: 32px;
    position: absolute;
    bottom: 9px;
    right: 0;
    left: 0;
    margin: auto;
    border: #079992;
}
#s3_d6_d1{
    position: absolute;
    height: 76px;
    width: 2.5px;
    background: #ffffff;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d6_d2{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #079992;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d6_d3_h3_1{
    position: absolute;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.4em;
    color: #606060;
    bottom: 275px;
    margin: auto;
    right: 0;
    left: 0;
}
#s3_d6_d3>img{
    position: absolute;
    height: 69px;
    bottom: 198px;
    left: 0;
    right: 0;
    margin: auto;
}
#s3_d6_d3_h3_2{
    position: absolute;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: 100;
    font-size: 1.4em;
    color: #ffffff;
    bottom: 140px;
    margin: auto;
    right: 0;
    left: 0;
}

/*-------------section 4-------------*/
main>section:nth-child(4){
    background: #11141B;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}
main>section:nth-child(4)>div{
    background: #079992;
    width: 588px;
    height: 55px;
    position: absolute;
    top: 22px;
    right: 0;
    margin: auto;
}
main>section:nth-child(4)>div>h2:first-child{
    position: absolute;
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.8em;
    top: 16px;
    right: 297px;
    margin: auto;
}
main>section:nth-child(4)>div>h2:nth-child(2){
    position: absolute;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    top: -5px;
    right: 78px;
    margin: auto;
    font-size: 3.4em;
}
main>section:nth-child(4)>span{
    border-top: 45px solid #11141B;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    top: 27px;
    right: 538px;
    margin: auto;
    transform: rotate(270deg);
}
#s4_s1{
    position: absolute;
    height: 500px;
    width: 500px;
    top: 171px;
    left: 45px;
    margin: auto;
    background: #11141B;
}
#s4_s1_s1{
    width: 120px;
    height: 270px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    position: absolute;
    left: 43px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0);
}
#s4_s1_s1_d1{
    background: white;

}
#s4_s1_s1_d1>img{
    position: absolute;
    top: 19px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s1_s1_d2{
    background: white;
}
#s4_s1_s1_d2>img{
    position: absolute;
    top: 172px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s1_s2{
    width: 120px;
    height: 420px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0);
}
#s4_s1_s2_d1{
    background: white;
}
#s4_s1_s2_d1>img{
    position: absolute;
    top: 16px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s1_s2_d2{
    background: white;
}
#s4_s1_s2_d2>img{
    position: absolute;
    top: 172px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s1_s2_d3{
    background: white;
}
#s4_s1_s2_d3>img{
    position: absolute;
    top: 321px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s1_s3{
    width: 120px;
    height: 270px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    position: absolute;
    right: 43px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0);
}
#s4_s1_s3_d1{
    background: white;
}
#s4_s1_s3_d1>img{
    position: absolute;
    top: 20px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s1_s3_d2{
    background: white;
}
#s4_s1_s3_d2>img{
    position: absolute;
    top: 172px;
    left: 21px;
    margin: auto;
    height: 80px;
    width: 80px;
}
#s4_s2_h3_1{
    position: absolute;
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.4em;
    top: 154px;
    right: 574px;
    margin: auto;
}
#s4_s2_d1{
    position: absolute;
    top: 186px;
    right: 98px;
    margin: auto;
    height: 2px;
    width: 539px;
    background: white;
}
#s4_s2_h3_2{
    position: absolute;
    color: #ffffff;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 1.4em;
    top: 478px;
    right: 494px;
    margin: auto;
}
#s4_s2_d3{
    position: absolute;
    top: 511px;
    right: 98px;
    margin: auto;
    height: 2px;
    width: 539px;
    background: white;
}
#s4_s2_s1{
    width: 515px;
    height: 185px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 35px;
    position: absolute;
    right: 120px;
    top: -108px;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0);
}
#s4_s2_s1_d1{
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d1_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d2{
    position: absolute;
    top: 0;
    left: 110px;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d2_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d3{
    position: absolute;
    top: 0;
    left: 220px;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d3_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d4{
    position: absolute;
    top: 0;
    left: 330px;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d4_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d5{
    position: absolute;
    top: 0;
    left: 440px;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d5_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d6{
    position: absolute;
    top: 110px;
    left: 0;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d6_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d7{
    position: absolute;
    top: 110px;
    left: 110px;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_s1_d7_img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_d2{
    position: absolute;
    top: 540px;
    right: 562px;
    margin: auto;
    height: 75px;
    width: 75px;
    background: #11141B;
    border-radius: 5px;
    box-shadow: -2px -2px 5px #2a2f47, 2px 2px 5px black;
}
#s4_s2_d2_img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 50px;
    width: 50px;
}
#s4_s2_s1_d3_d1{
    position: relative;
    top: 13px;
    right: 0;
    margin: auto;
    height: 50px;
    width: 50px;
    background: white;
}

/*-------------section 5-------------*/
main>section:nth-child(5){
    background: #000000;
    height: 250vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}

/*-------------section 6-------------*/
main>section:nth-child(6){
    background: #11141B;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}

/*-------------section 7-------------*/
main>section:nth-child(7){
    background: #000000;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}

/*-------------section 8-------------*/
main>section:nth-child(8){
    background: #11141B;
    height: 40vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    border: 0;
    margin: auto;
}