@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body>main{
    background: #F8F8F8;
    width: 100vw;
    height: 100vh;
}
/*navigation bar*/
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-family: 'Poppins', sans-serif;
    font-weight: var(--bs-nav-link-font-weight);
    color: #70717A;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
#focus{
    color: #9264E1 !important;
}
.nav-link:focus, .nav-link:hover{
    color: #9264E1;
}
body>main>section{
    position: relative;
    top: 0.5vh;
    width: 100vw;
    height: 94vh;
    background-color: #ffffff;
}
/*container*/
body>main>section>section{
    position: relative;
    top: 0;
    width: 100vw;
    height: 94vh;
    background-color: #ffffff;
}
/*1st row*/
body>main>section>section>section:nth-child(1){
    height: 60px;
}
body>main>section>section>section:nth-child(1)>section:nth-child(1)>h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    padding-top: 2.5vh;
}
#timeDiv{
    position: absolute;
    top: 15px;
    right: 12px;
    text-align: center;
    height: 5vh;
    width: 15vw;
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #dcdce8;
}
#timeDiv>h6{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    margin-top: 11px!important;
    margin-left: 18px!important;
}
#timeDiv>i{
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 15px;
    color: #000000;
}
#row2{
    height: 14.8vh;
    grid-gap: 5vw;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
}
#box1,#box2,#box3,#box4{
    background: white;
    border-radius: 5px;
    box-shadow: 3px 3px 7px #dcdce8;
}
#t1,#t2,#t3,#t4{
    font-family: 'Poppins', sans-serif;
    font-size: 0.88em;
    margin-top: 5px;
    margin-bottom: 0px;
}
#v1,#v2,#v3,#v4{
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
    color: #9264E1;
    margin-top: 20px;
    margin-bottom: 0px;
}






